.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    font-size: 50px;
    color: white;
}
.todoContainer{
    min-width: 500px;
    margin: 100px auto;
}

.todoCreateForm{
    display:flex;
    gap: 5px;
}

.todoInput{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #999;
}

.buttonCreate{
    border: none;
    border-radius: 3px;
    background-color: rgb(26,76,169);
    color: white;
    padding: 10px 20px;
}
.buttonCreate:hover{
    background-color: blueviolet;
}

.todosContainer{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 10px;
}

.todo{
    padding: 10px;
    background-color: rgb(72, 43, 112);
    border-radius: 10px;
}

.todoTitle{
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.todoUpdateForm, .todoInfo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.button{
    border: none;
    border-radius: 3px;
    background-color: rgb(72,122,221);
    color: white;
    padding: 10px 20px;
}

.buttonDelete{
    border: none;
    border-radius: 3px;
    background-color: rgb(169,26,26);
    color: white;
    padding: 10px 20px;
}